.container {
  flex: 1 !important;
  overflow: auto !important;
}

.percentage_tab {
  box-sizing: border-box !important;
  padding: 16px 0px !important;
}

.percentage_field {
  box-sizing: border-box !important;
  border-bottom: 1px solid #aeaeb2 !important;
  padding: 22px 60px 22px 22px !important;
  cursor: pointer !important;
  position: relative !important;
  text-transform: uppercase !important;
  line-height: 18px !important;
  display: block !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  color: #1677ff !important;
  letter-spacing: 0.3px !important;
  position: relative !important;
}

.percentage_field:hover {
  background-color: #f6f6f8 !important;
}

.percentage_field.selected::after {
  content: "✓" !important;
  color: #fff !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 28px !important;
  height: 28px !important;
  border-radius: 100% !important;
  text-align: center !important;
  line-height: 18px !important;
  background-size: 11px !important;
  border: 1px solid #1d9d58 !important;
  background: #1d9d58 !important;
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  right: 22px !important;
}

.pixels_tab {
  box-sizing: border-box !important;
  padding: 16px 0px !important;
}

.pixel_field {
  box-sizing: border-box !important;
  border-bottom: 1px solid #aeaeb2 !important;
  padding: 16px !important;
  font-size: 15px !important;
  margin-bottom: 0px !important;
}

.pixel_field .ant-form-item-control {
  justify-content: space-around !important;
}
