#veda-builder-resize-image-plugins {
  height: 100% !important;
  overflow: hidden !important;
  display: flex !important;
  font-family: Roboto, sans-serif !important;
  font-size: 14px !important;
}
